body {

}
/* .features {
    background-color: rgb(255, 98, 0);
    color: white;
    text-align: center;
}
.quotes {
    text-align: center;
    padding: 1rem;
    margin-bottom: 5rem;
} */
.alert-container .col-12{
    padding: 0;
}
.side-wide-alert{
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px;
    background-color: rgb(232, 206, 12);
    border-color: rgb(232, 206, 12);;
}
.features-container{

}
.container-wrapper{

}
.container-wrapper--red{
    background-color: #f05f40;
    color: white;
}
.block-divider--white {
    background-color: white;
}
.feature {
    text-align: center;
    margin-bottom: 30px;
}
.feature i {
    margin-bottom: 30px;
    line-height: 45px;
    font-size: 45px;
}
.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}
.callout-container{
    height: 100vh;
    background: url('/images/vvv.png') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.quotes-container{

}

/* jumbotron */
.jumbotron {
    background-color:transparent ;
}
.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
.jumbotron .lead {
    margin: 25px 0;
    color: #a7a7aa;
}
.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: lightgray;
}


.block-divider{
    width: 75px;
    height: 5px;
    border:1px;
    border-radius: 5px;
  
}
.block-divider--orange {
    background-color: rgb(237, 140, 4);
}
.block-divider--short {
    width: 35px;
}

.opaque-ovarlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.6);
}

.btn--cta {
    font-weight:bold ;
    border-radius: 23px;
    width: 160px;
}
.btn--red{
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}
.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #e16347;
    border-color: #e66042;
}
/* navbar */
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-top: 0;
    z-index: 1;
}
.navbar {
    margin-bottom:0 ;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}
.navbar-brand{
    color: #fff;
    font-weight: bold;
}
.navbar-nav a {
    font-weight: bold;
}